@font-face {
  font-family: "SF-Pro";
  src: url("./assets/fonts/SF-Pro-Text-Medium.otf") format("truetype");
}

body {
  font-family: "SF-Pro", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #ffffff;
  color: #111111;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.buy-button {
  background-color: #ff7200;
  color: white;
  text-decoration: none;
  padding: 15px;
  border-radius: 5px;
  font-weight: 900;
  margin-left: 20vw;
  font-size: 1vw;
}

.navbar__logo img {
  width: 15vh;
}

.navbar__menu {
  display: flex;
  margin-right: 5vw;
  gap: 2rem;
}

.navbar__menu button {
  text-decoration: none;
  color: #161616;
  font-weight: 1000;
  transition: color 0.2s ease;
  border: none;
  background: none;
  font-size: 1.6vh;
}

.navbar__menu button:hover {
  color: #ff7200;
}

/* Mobile toggle button */
.navbar__toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 8px;
}

.bar {
  width: 50px;
  height: 3px;
  background-color: #333;
  transition: all 0.3s ease;
}

.banner-container {
  background-color: #111111;
}

.highlight {
  color: #ff7200;
}
.benefits-tittle {
  text-align: center;
  font-size: 2vw;
  margin-top: 13vh;
}

.benefititem-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  box-shadow: rgb(255, 123, 0) 0px 0px 0px 2px inset,
    rgb(31, 31, 31) 10px -10px 0px -3px, rgb(255, 123, 0) 10px -10px,
    rgb(0, 0, 0) 20px -20px 0px -3px, rgb(194, 92, 9) 20px -20px;
  padding: 4vw;
  width: 30vw;
  height: 35;
  border-radius: 20px;
}

.benefititem-container img {
  width: 10vw;
}

.benefititem-container p {
  color: #e4e4e4;
  font-size: 1.4vw;
  margin-top: 5vh;
  text-align: center;
  font-weight: 100;
}

.benefititem-container h2 {
  color: #ffffff;
  font-size: 1.3vw;
  margin-top: 5vh;
  text-align: center;
}

.benefit-itemlist-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
  margin-top: 10vh;
}

.iphones-container {
  background-color: #000;
}

.lacrado-container {
  margin-top: 20vh;
}

.lacrado-container__tittle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5v w;
  color: #ffffff;
  font-size: 2vw;
}

.lacrado-container__tittle p {
  font-size: 1.5vw;
}

.lacrado-container__tittle img {
  width: 10vw;
}

.lacrado-container__display {
  padding: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4vw;
}

.lacrado-container__img {
  width: 33vw;
}

.lacrado-container__text {
  color: #ffffff;
  background-color: #1b1b1b;
  padding: 3vw;
  border-radius: 20px;
}

.lacrado-container__text--tittle {
  font-size: 5vh;
}

.lacrado-container__text--subtittle {
  font-size: 4vh;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  gap: 3vw;
}

.lacrado-icon {
  width: 3vw;
}

.lacrado-container__text--subtittle p {
  display: flex;
  gap: 0.5vw;
  font-size: 4vh;
}

.cpo-container {
  padding: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4vw;
}

.cpo-container__text {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1b1b1b;
  padding: 3vw;
  border-radius: 20px;
}

.cpo-container__text--tittle {
  font-size: 5vh;
}

.cpo-container__text--subtittle {
  font-size: 4vh;
  width: 45vw;
  margin-top: 5vh;
}

.cpo-img {
  width: 27vw;
}

.openbox-img img {
  width: 26vw;
}

.openbox-container__text--subtittle {
  font-size: 4vh;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
}

.seminovo-img {
  width: 30vw;
}

.av-list--tittle {
  text-align: center;
  font-size: 7vh;
  color: #ffffff;
  padding-top: 20vh;
  padding-bottom: 5vh;
}

.av-container {
  background-color: #333;
  width: 100%;
  height: 100%;
  padding: 2vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* <-- ESSENCIAL */
  position: relative;
}

.av-container--pfp {
  display: flex;
  align-items: center;
  gap: 1vw;
  position: absolute;
  top: -5vh;
  left: 2vw;
}

.av-container--pfp img {
  width: 60px;
  height: 60px;
  margin-top: 10vh;
}

.av-container--pfp p {
  margin-top: 12vh;
}

.av-container--pfp__google {
  width: 20px;
  height: 20px;
  margin-left: 40vw;
  position: absolute;
}

.av-container--pfp p {
  font-size: 2.5vh;
  color: #fff;
}

.av-main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1vh;
  margin-top: 5vh;
}

.star {
  width: 6vw;
  align-self: flex-start;
  margin-top: 3vh;
}

.av-container--text p {
  font-size: 2vh;
  color: #fff;
  margin: 0;
}

.av-list-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vw;
  padding: 2vw;
}

.bg-list {
  background-color: #131313;
}

.whatsapp-float {
  position: fixed;
  bottom: 2vw;
  right: 2vw;
  z-index: 1000;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.whatsapp-float img {
  width: 4vw;
  object-fit: contain;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

.mapa-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 10px #00000030;
  margin-bottom: 15vh;
}

.mapa-tittle {
  font-size: 3vw;
  text-align: center;
  padding: 5vw;
}

.mapa-subtittle {
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
  margin-top: -8vh;
  margin-bottom: 6vh;
  font-weight: 900;
  font-style: none;
  color: #ff7200;
}

.instagram-text {
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Para Firefox */
  background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: 1.8vh;
  margin-top: 1.5vh;
}

.rodape-container {
  background-color: #0a0a0a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
}

.rodape-container img {
  width: 80px;
}

.rodape-container p {
  color: #ffffff;
  margin-top: 10px;
}

.banner-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111111;
}
.banner-container img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

.swiper-pagination-bullet {
  background: white;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.pagamentos-container {
  background-color: #0e0e0e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  padding-bottom: 200px;
}

.pagamentos-container h1 {
  color: #ff7200;
  margin-top: 10vh;
  font-size: 3.2vw;
  text-align: center;
}

.metodos-pagamento {
  width: 55vw;
}

.reuso-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.icon-reuso {
  width: 8vw;
}

.reuso-container p {
  color: white;
  font-size: 2vw;
}

/* Mobile styles */
@media (max-width: 767px) {
  .navbar__menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    gap: 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    border-radius: 10px;
  }

  .navbar__menu.open {
    max-height: 600px;
    padding: 1.5rem 0;
  }

  .buy-button {
    margin: auto;
  }

  .navbar__menu a,
  .navbar__menu button {
    font-size: 3vw;
    padding: 0.75rem 1.25rem;
    width: 80%; /* centraliza os botões */
    text-align: center;
    border-radius: 8px;
    transition: background 0.2s ease;
  }

  .navbar__toggle {
    display: flex;
  }

  .rotate-top {
    transform: rotate(45deg) translateY(8px);
  }

  .rotate-bottom {
    transform: rotate(-45deg) translateY(-8px);
  }

  .fade-out {
    opacity: 0;
  }

  .benefits-tittle {
    font-size: 6vw;
  }

  .benefititem-container {
    flex-direction: column;
    box-shadow: rgb(255, 123, 0) 0px 0px 0px 2px inset;
    padding: 4vw;
    width: 98vw;
    border-radius: 20px;
    padding-bottom: 8vh;
  }

  .benefititem-container img {
    width: 25vw;
  }

  .benefititem-container p {
    font-size: 4.5vw;
  }

  .benefititem-container h2 {
    color: #ffffff;
    font-size: 5.5vw;
    margin-top: 5vh;
    text-align: center;
  }

  .benefit-itemlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    margin-top: 7vh;
  }

  .lacrado-container {
    margin-top: 8vh;
  }

  .lacrado-container__text {
    padding-bottom: 5vh;
  }

  .lacrado-container__tittle {
    font-size: 4.5vw;
  }

  .lacrado-container__tittle p {
    font-size: 4vw;
    margin-top: 2vh;
  }

  .lacrado-container__tittle img {
    width: 35vw;
  }

  .lacrado-container__display {
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vw;
  }

  .lacrado-container__img {
    width: 85vw;
  }

  .lacrado-container__text--tittle {
    font-size: 9vw;
  }

  .lacrado-container__text--subtittle {
    font-size: 4vw;
  }

  .lacrado-icon {
    width: 10vw;
    margin-bottom: 10px;
  }

  .lacrado-container__text--subtittle p {
    gap: 1vw;
    font-size: 4.9vw;
  }

  .cpo-container {
    flex-direction: column;
    align-items: center;
  }

  .cpo-container__text--tittle {
    font-size: 8vw;
  }

  .cpo-container__text--subtittle {
    font-size: 5vw;
    width: 90vw;
    margin-top: 5vh;
  }

  .cpo-img {
    width: 75vw;
  }

  .openbox-img img {
    width: 80vw;
  }

  .openbox-container__text--subtittle {
    font-size: 5vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
  }

  .seminovo-img {
    width: 85vw;
  }

  .seminovo-container__text--subtittle {
    font-size: 5vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 3vw;
  }

  .cpo-container__text {
    background-color: #1b1b1b;
    padding-bottom: 5vh;
  }

  .av-list--tittle {
    margin-top: -12vh;
    font-size: 8vw;
  }

  .av-container--pfp img {
    width: 65px;
    height: 65px;
  }

  .av-container--pfp__google {
    margin-left: 75vw;
  }

  .av-container--pfp p {
    font-size: 5vw;
    margin-left: 2vw;
    margin-top: 10vh;
  }

  .av-main-content {
    margin-top: 1vh;
  }

  .star {
    width: 25vw;
    margin-top: 20vw;
  }

  .av-container--text p {
    font-size: 4vw;
  }

  .av-list-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1vh;
  }

  .whatsapp-float {
    bottom: 10vw;
    right: 10vw;
  }

  .whatsapp-float img {
    width: 15vw;
  }

  .mapa-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 10px #00000030;
    margin-bottom: 15vh;
  }

  .mapa-tittle {
    margin-top: 5vh;
    font-size: 8vw;
    text-align: center;
    padding: 5vw;
  }

  .mapa-subtittle {
    font-size: 3.3vw;
    padding: 2vw;
    margin-top: -1vh;
  }

  .rodape-container {
    margin-top: -15vh;
  }

  .rodape-container img {
    width: 80px;
  }

  .rodape-container p {
    color: #ffffff;
    margin-top: 10px;
    padding: 1vw;
    font-size: 3vw;
  }

  .bannerMobile {
    width: 100%;
    height: auto;
  }

  .pagamentos-container {
    padding-bottom: 120px;
  }

  .pagamentos-container h1 {
    color: #ff7200;
    margin-top: 5vh;
    font-size: 9vw;
    text-align: center;
  }

  .metodos-pagamento {
    width: 99vw;
  }

  .reuso-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .icon-reuso {
    width: 20vw;
  }

  .reuso-container p {
    color: white;
    font-size: 5vw;
  }

  .banner-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111111;
  }
  .banner-container img {
    display: block;
    width: 420px;
    height: auto;
    margin: auto;
  }

  .swiper-pagination-bullet {
    background: white;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }
}

@media (min-width: 768px) and (max-width: 884px) {
  .navbar__menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    gap: 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    border-radius: 10px;
  }

  .navbar__menu.open {
    max-height: 600px;
    padding: 1.5rem 0;
  }

  .navbar__menu a,
  .navbar__menu button {
    font-size: 3vw;
    padding: 0.75rem 1.25rem;
    width: 80%; /* centraliza os botões */
    text-align: center;
    border-radius: 8px;
    transition: background 0.2s ease;
  }

  .navbar__menu a:hover,
  .navbar__menu button:hover {
    background: #f0f0f0;
  }

  .navbar__toggle {
    display: flex;
  }

  .rotate-top {
    transform: rotate(45deg) translateY(8px);
  }

  .rotate-bottom {
    transform: rotate(-45deg) translateY(-8px);
  }

  .fade-out {
    opacity: 0;
  }

  .benefits-tittle {
    text-align: center;
    font-size: 5vw;
    margin-top: 13vh;
  }

  .benefititem-container {
    flex-direction: column;
    box-shadow: rgb(255, 123, 0) 0px 0px 0px 2px inset;
    padding: 4vw;
    width: 98vw;
    border-radius: 20px;
    padding-bottom: 8vh;
  }

  .benefititem-container img {
    width: 25vw;
  }

  .benefititem-container p {
    font-size: 3vw;
  }

  .benefititem-container h2 {
    color: #ffffff;
    font-size: 4vw;
    margin-top: 5vh;
    text-align: center;
  }

  .benefit-itemlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    margin-top: 7vh;
  }

  .lacrado-container {
    margin-top: 8vh;
  }

  .lacrado-container__text {
    padding-bottom: 5vh;
  }

  .lacrado-container__tittle {
    font-size: 3.5vw;
  }

  .lacrado-container__tittle p {
    font-size: 3vw;
    margin-top: 2vh;
  }

  .lacrado-container__tittle img {
    width: 32vw;
  }

  .lacrado-container__display {
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vw;
  }

  .lacrado-container__img {
    width: 80vw;
  }

  .lacrado-container__text--tittle {
    font-size: 7vw;
  }

  .lacrado-container__text--subtittle {
    font-size: 3vw;
  }

  .lacrado-icon {
    width: 10vw;
    margin-bottom: 10px;
  }

  .lacrado-container__text--subtittle p {
    gap: 1vw;
    font-size: 4vw;
  }

  .cpo-container {
    flex-direction: column;
    align-items: center;
  }

  .cpo-container__text--tittle {
    font-size: 7vw;
  }

  .cpo-container__text--subtittle {
    font-size: 4vw;
    width: 90vw;
    margin-top: 5vh;
  }

  .cpo-img {
    width: 65vw;
  }

  .openbox-img img {
    width: 70vw;
  }

  .openbox-container__text--subtittle {
    font-size: 4vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
  }

  .seminovo-img {
    width: 75vw;
  }

  .seminovo-container__text--subtittle {
    font-size: 4vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 3vw;
  }

  .cpo-container__text {
    background-color: #1b1b1b;
    padding-bottom: 5vh;
  }

  .av-list--tittle {
    margin-top: -12vh;
    font-size: 7vw;
  }

  .av-container--pfp img {
    width: 100px;
    height: 100px;
  }

  .av-container--pfp__google {
    margin-left: 75vw;
  }

  .av-container--pfp p {
    font-size: 4.5vw;
    margin-left: 2vw;
    margin-top: 10vh;
  }

  .av-main-content {
    margin-top: 1vh;
  }

  .star {
    width: 25vw;
    margin-top: 10vh;
  }

  .av-container--text p {
    font-size: 3vw;
    padding: 0vw;
    margin-top: -2vh;
  }

  .av-list-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1vh;
  }

  .whatsapp-float {
    bottom: 10vw;
    right: 10vw;
  }

  .whatsapp-float img {
    width: 15vw;
  }

  .mapa-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 10px #00000030;
    margin-bottom: 15vh;
  }

  .mapa-tittle {
    margin-top: 5vh;
    font-size: 8vw;
    text-align: center;
    padding: 5vw;
  }

  .mapa-subtittle {
    font-size: 3.3vw;
    padding: 2vw;
    margin-top: -1vh;
  }

  .rodape-container {
    margin-top: -15vh;
  }

  .rodape-container img {
    width: 80px;
  }

  .rodape-container p {
    color: #ffffff;
    margin-top: 10px;
    padding: 1vw;
    font-size: 3vw;
  }

  .bannerMobile {
    width: 100%;
    height: auto;
  }

  .pagamentos-container {
    padding-bottom: 200px;
  }

  .pagamentos-container h1 {
    color: #ff7200;
    margin-top: 5vh;
    font-size: 9vw;
    text-align: center;
  }

  .metodos-pagamento {
    width: 99vw;
  }

  .reuso-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .icon-reuso {
    width: 20vw;
  }

  .reuso-container p {
    color: white;
    font-size: 5vw;
  }
}
